[v-cloak]{
    display:none!important;
}
*{
  box-sizing: border-box;
}
.iconfont {
    width: 1em;
    height: 1em;
    vertical-align: -0.2em;
    fill: currentColor;
    overflow: hidden;
}
body{
    padding: 0;
    margin: 0;
}
.flex{
    display: flex;
}
.flex-align-center{
    display: flex;
    align-items: center;
}
.flex-both-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-justify-between{
    display: flex;
    justify-content: space-between;
}
.flex-justify-center{
    display: flex;
    justify-content: center;
}
.flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.nowrap{
    white-space: nowrap;
}
.text-nowrap-ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*去掉el-upload过渡，防止抖动*/
.el-upload-list__item{
    transition: none !important
}

.disabled .el-upload--picture-card {
    display: none!important;
}

.el-upload-dragger{
    width: 100%!important;
}
.upload-demo .el-upload{
    width: 100%!important;
}

/*富文本编辑器*/
.editor—wrapper{
    border: 1px solid #ccc;
}
.editor—wrapper>.toolbar-container{
    border-bottom: 1px solid #ccc;
}
.editor—wrapper>.editor-container{
    min-height: 300px;
}
.editor {
    line-height: normal;
}